.text-blue {
    color : #00C2C2;
}

.text-grey {
    color : grey;
}

.text-blue-dark {
    color : rgb(16,81,91);
}

.text-red {
    color : red;
}

.text-green {
    color : green;
}

.button-nav {
    display : block;
    padding : 0rem 1rem;
    text-decoration : none;
    color : #00C2C2;
    border-radius : 25px ;
}

.button-nav:hover {
    background : #00ABAB;
    color : #FFF;
}

.module {
    color : rgb(16,81,91);
}

.module:hover {
    color : #FFF;
}

.border-search {
    border-color : #00ABAB  !important;
}

